<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

{% seo %}
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="https://code.jquery.com/jquery-3.3.0.min.js" integrity="sha256-RTQy8VOmNlT6b2PIRur37p6JEBZUE7o8wPgMvu18MC4=" crossorigin="anonymous"></script>
    <script src="{{ '/assets/js/main.js' | relative_url }}"></script>
    <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js" integrity="sha256-3Jy/GbSLrg0o9y5Z5n1uw0qxZECH7C6OQpVBgNFYa0g=" crossorigin="anonymous"></script>
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    {% include head-custom.html %}
    <script src="https://unpkg.com/@botpoison/browser" async></script>
  </head>
  <body>

      <header>
        <h1>{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
        <p>{{ page.description | default: site.description | default: site.github.project_tagline }}</p>
      </header>

      <div id="banner">
        {% include navigation.html %}
        
      </div>
      
      <div class="wrapper">
      
        <nav id="internal">
            <h2>On This Page</h2>
            <ul></ul>
        </nav>
        <section>
            {{ content }}
            <form method="POST" id="form" action="https://submit-form.com/xwCfTTr8" data-botpoison-public-key="pk_9551976c-7da7-498f-aae4-668e79e02879">
                <label for="name">Name</label>
                <br>
                <input type="text" id="name" name="name" placeholder="Name" required="" />
                <br>
                <label for="email">Email  </label>
                <br>
                <input type="email" id="email" name="email" placeholder="Email@email.com" required="" />
                <br>
                <label for="topic">Topic</label>
                <br>
                <select name="topic" id="topic" required="">
                    <option value="Create_Site">Create A New Shopify Site</option>
                    <option value="Migrate_Site">Migrate An Existing Site</option>
                    <option value="Optimizations">SEO & Page Loading Optimizations</option>
                    <option value="Convert_AOV">Increase Customer Conversions & AOV</option>
                    <option value="Theme_Apps">Theme, Shopify Apps, or Custom Widgets</option>
                    <option value="Other">Other</option>
                </select>
                <br>
                <label for="message">Message</label>
                <br>
                <textarea id="message" name="message" placeholder="Message" required="" rows="6" cols="50"></textarea>
                <br>
                <button id="submitButton"type="submit" class="projects">Send</button>
            </form>
            <script>
                var formElement = document.getElementById("form");
                var buttonElement = document.getElementById("submitButton");
                formElement.addEventListener("botpoison-challenge-start", function () {
                buttonElement.setAttribute("disabled", "disabled");
                });
                formElement.addEventListener("botpoison-challenge-success", function () {
                buttonElement.removeAttribute("disabled");
                });
                formElement.addEventListener("botpoison-challenge-error", function () {
                buttonElement.removeAttribute("disabled");
                });
            </script>
        </section>

        {% include navigation.html %}

      <footer>
        {% if site.github.is_project_page %}
          <p>Project maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        {% endif %}
        <p><small>Hosted on <a href="https://pages.github.com/">GitHub Pages</a> &mdash; Original Theme by <a href="https://twitter.com/mattgraham">mattgraham</a></small></p>
      </footer>
      </div>
      
    
  </body>
</html>